.video-title{
margin-top:  0;
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom: 12px;
}
.video-author,
.video-stats{
font-size: 12px;
color: rgb(96, 96, 96);
}
.video-preview{
width: 400px;
display: inline-block;
margin-right: 35px;
margin-left: 35px;

}

.chanel-picture{
    background-color: white;
}
.video-info{
    background-color: white;
}

.profile-picture{
    width: 40px;
    border-radius: 50px;
}
.thumbnail-row{
    margin-bottom: 12px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}